header {
  background-color: lightgreen;
}

main {
  background-color: lightblue;
}

footer {
  background-color: violet;
}

.header {
  font-weight: bold;
}

.PatternMatch {
  background-color: yellow;
}

.SeasonIndex {
  display: flex;
  flex-wrap: wrap;
}

/*
.SeasonIndex figure {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // fiddle with the font.
  color: white;
  font-size: 2.5rem;
}

// https://www.w3schools.com/howto/howto_css_image_text.asp

.SeasonIndex > li {
  position: relative;
}

.SeasonName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SeasonIndex figure {
  background-color: black;
  z-index: 2;
}
*/
