header {
  background-color: lightgreen;
}

main {
  background-color: lightblue;
}

footer {
  background-color: violet;
}

.header {
  font-weight: bold;
}

.PatternMatch {
  background-color: yellow;
}

.ResultCount::before {
  content: "[";
}

.ResultCount::after {
  content: "]";
}
